/* Empty. Add your own CSS if you like */
.item-content{
  background-color: #444 !important;

}

.list-item-menu{
  background-color:#444;
  color:#fff !important;
}

.list-background{
  background-color:#444;
}
